.local-music-player {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(rgba(95, 25, 25, 0.5), rgba(32, 3, 3, 0.7));
  min-height: 100vh;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 10px 10px 20px rgb(152, 113, 113),
    -10px -10px 20px rgb(152, 113, 113);
  border-radius: 25px;
  background: linear-gradient(rgba(95, 25, 25, 0.5), rgba(32, 3, 3, 0.7));
  width: 400px;
  height: 200px;
  padding: 20px;
}
h1 {
  margin-top: -200px;
  text-transform: uppercase;
  text-shadow: 5px 5px 20px #3b3333, -5px -5px 20px #937878;
  color: white;
}
input {
  width: 200px;
  color: aliceblue;
  background: rgb(58, 29, 29);
  height: 20px;
  border-radius: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}
p {
  text-align: center;
}
span {
  text-align: center;
  color: white;
  font-weight: 500;
  font-size: 14px;
}
marquee {
  color: aliceblue;
  font-size: 12px;
  font-weight: 400;
}
button {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 20px rgb(162, 101, 101), -5px -5px 20px rgb(162, 101, 101);
  cursor: pointer;
  outline: none;
}
button:hover {
  transform: scale(1.12);
}
